html {
	font-family: Montserrat;
}

/* SaleProject */
h1 {
	margin-top: 40px;
	font-size: 30px;
	text-align: center;
	font-weight: normal;
}
.sale {
	color: #981B1E;
}
.project {
	color: #5781C2;
}

.box {
	margin-right: 50px;
	margin-left: 65px;
}

/* Please Login */
h2 {
	margin-top: 35px;
	margin-bottom: 15px;
	font-weight: normal;
	font-size: 23px;
}

/* Fill Form */
form {
	margin-top: 20px;
	font-size: 12px;
}
form input[type="text"], input[type="password"] {
	margin-right: 70px;
	margin-bottom: 15px;
	width: 100%;
	padding: 6px 0px;
}
form input[type="submit"] {
	margin: 0px;
	float: right;
	font-size: 14px;
	color: white;
	background-color: #5781C2;
	border: 0px;
	font-family: Montserrat;
	padding: 5px 22px 5px 22px;
}

/* Don't have account */
p {
	clear: left;
	font-size: 15px;
}

p a {
	text-decoration: none;
	color: #5781C2;
}

/* Invalid */
.inv {
	color: red;
}