input[type=text], input[type=email], input[type=password], input[type=tel] {
	width: 100%;
	padding: 9px;
	margin-top: 4px;
	margin-bottom: 15px;
	box-sizing: border-box;
	border: 1px solid #555;
	outline: none;
	background-color: white;
}

h1 {
	text-align: center;
}

form {
	margin-left: 50px;
	margin-right: 50px;
}

input[type=submit] {
	font-size: 18px;
	padding: 4px;in
	margin-right: 50px;
	border: none;
	color: white;
	background-color: blue;
	float: right;
}
